[Service]
ExecStartPre=-/bin/ip route delete default via {{ calico_node_default_router }}
ExecStartPre=-/bin/ip route add default via {{ calico_node_default_router }} metric {{ calico_node_default_route_metric }}
