[Unit]
Description=Calcio felix server

[Service]
ExecStart=/usr/bin/calico-node -confd
ExecStartPre=-/bin/mkdir -p /var/run/secrets/kubernetes.io/serviceaccount
ExecStartPre=/usr/bin/calico-node -startup
Restart=on-failure
EnvironmentFile=/etc/calico/env.sh
# ALL VARIABLES NEED TO BE LISTED HERE
PassEnvironment=CALICO_NETWORKING_BACKEND KUBECONFIG DATASTORE_TYPE DATASTORETYPE FELIX_DATASTORETYPE FELIX_TYPHAK8SSERVICENAME WAIT_FOR_DATASTORE NODENAME FELIX_FELIXHOSTNAME CALICO_NETWORKING_BACKEND CLUSTER_TYPE IP CALICO_IPV4POOL_IPIP CALICO_IPV4POOL_CIDR CALICO_DISABLE_FILE_LOGGING FELIX_DEFAULTENDPOINTTOHOSTACTION FELIX_IPV6SUPPORT FELIX_HEALTHENABLED FELIX_LOGSEVERITYSCREEN KUBERNETES_SERVICE_HOST KUBERNETES_SERVICE_PORT FELIX_TYPHACAFILE FELIX_TYPHACERTFILE FELIX_TYPHAKEYFILE FELIX_TYPHAURISAN CALICO_ADVERTISE_CLUSTER_IPS
# It's like it runs in Kubernetes, except it doesn't...
# Systemd 233:
#BindReadOnlyPaths=/etc/calico/k8s,/var/run/secrets/kubernetes.io/serviceaccount
# Unfortunately, Stretch comes with 232
MountFlags=private
ExecStartPost=+/usr/bin/nsenter -t $MAINPID -m /bin/mount --bind /etc/calico/k8s /var/run/secrets/kubernetes.io/serviceaccount

[Install]
WantedBy=multi-user.target
