CALICO_NETWORKING_BACKEND=bird
KUBECONFIG=/etc/calico/k8s/kubeconfig.yml
DATASTORE_TYPE=kubernetes
DATASTORETYPE=kubernetes
FELIX_DATASTORETYPE=kubernetes
FELIX_TYPHAK8SSERVICENAME=calico-typha
WAIT_FOR_DATASTORE=true
NODENAME={{ ansible_hostname }}
FELIX_FELIXHOSTNAME={{ ansible_hostname }}
CALICO_NETWORKING_BACKEND=bird
CLUSTER_TYPE=k8s,bgp
IP=autodetect
CALICO_IPV4POOL_IPIP=never
CALICO_IPV4POOL_CIDR={{ kubernetes_cluster_cidr }}
CALICO_DISABLE_FILE_LOGGING=true
FELIX_DEFAULTENDPOINTTOHOSTACTION=ACCEPT
FELIX_IPV6SUPPORT=false
FELIX_HEALTHENABLED=false
FELIX_LOGSEVERITYSCREEN=info
KUBERNETES_SERVICE_HOST={{ kubernetes_ha_domain_intern }}
KUBERNETES_SERVICE_PORT=443
FELIX_TYPHACAFILE=/etc/calico/typha/ca.pem
FELIX_TYPHACERTFILE=/etc/calico/typha/client.cert
FELIX_TYPHAKEYFILE=/etc/calico/typha/client.key
FELIX_TYPHAURISAN=spiffe://{{ kubernetes_ha_domain_intern }}/calico/typha-server
CALICO_ADVERTISE_CLUSTER_IPS=true
