{
    "name": "kubernauts-pod-network",
    "cniVersion": "0.3.0",
    "type": "calico",
    "log_level": "info",
    "datastore_type": "kubernetes",
    "mtu": 1500,
    "ipam": {
        "type": "host-local",
        "subnet": "usePodCidr"
    },
    "policy": {
        "type": "k8s"
    },
    "kubernetes": {
        "kubeconfig": "/etc/calico/k8s/kubeconfig.yml"
    }
}
